@model GestorC.ViewModels.VM_Secretaria
@{
    ViewBag.Title = "Despues";
    Layout = "~/Views/Shared/SecretariaLayout.cshtml";
}

<h3>Sesión @Model.sesionSeleccionada.Numero</h3>

<div class="container blue">
    <h4><span class="glyphicon glyphicon-hand-right"></span> Después</h4>
</div>

<hr />

<div class="container">
    <!-- Codigo agregable aca ... -->
    <div class="row">

        <div class="col-sm-2 div-border-right">
                <h4>Descargar acta de sesión</h4>
                <form action="/Secretaria/Descargar" method="post">

                    <div class="form-group row margin-form-left">
                        <label>Descargar acta</label>
                        <select name="tipo">
                            <option value=1>Word</option>
                            <option value=2>XML</option>
                        </select>
                    </div>

                    <input type="hidden" name="sesion" value="@Model.sesionSeleccionada.Numero"/>

                    <div class="form-group row margin-form-left">
                        <button type="submit" class="btn btn-primary float-left blue-bg">Descargar</button>
                    </div>
                </form>
        </div>

        <div class="col-sm-3">
            <h4>Asociar acta a sesión</h4> <br />
            <form class="large-size-input" action="/Secretaria/AsociarActa" method="post" enctype="multipart/form-data">                
                <div class="form-group row margin-form-left">
                    <label for="example-email-input" class="">Seleccionar acta</label>
                    <div class="">
                        <input class="form-control form-control-file" type="file" name="file" id="fileID">
                        <small id="fileHelp" class="form-text text-muted">Seleccione el archivo</small>
                    </div>
                </div>

                <input type="hidden" name="sess" value="@Model.sesionSeleccionada.Numero" />

                <div class="form-group row margin-form-left">
                    <button type="submit" class="btn btn-primary float-left blue-bg">Subir</button>
                </div>
            </form>
        </div>

        <div class="col-sm-7 div-border-left">
            <h1>Generación de acuerdos</h1>
            @if (!Model.sesionSeleccionada.Agenda.Any())
            {
                <h3>No hay puntos de agenda</h3>
            }
            else
            {
                <label>Destinarario</label>
                <input class="" type="text" id="destinatario">
                <table class="table large-size-input mini-top-space">
                    <thead>
                        <tr class="th-header">
                            <th class="float-left">Nombre de punto</th>
                            <th class="float-right"></th>
                            <!-- <th class="float-right">Gestionar</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var p in Model.sesionSeleccionada.Agenda)
                        {
                            <tr>
                                <td class="float-left">@p.Nombre</td>
                                <!-- <td class="float-right"><a href='@Url.Action("Acuerdo", "Secretaria")?idPunto=@p.Id_punto&destinatario="+"document.getElementById('destinatario').value'>Generar & Descargar</a></td> -->
                                <td><input type="button" class="btn btn-primary float-right blue-bg" value="Generar & Descargar" onclick="location.href='@Url.Action("Acuerdo", "Secretaria")?idPunto=@p.Id_punto&destinatario=' + document.getElementById('destinatario').value+'&sesion=@Model.sesionSeleccionada.Numero'" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

