@model GestorC.ViewModels.VM_Secretaria
@{
    ViewBag.Title = "Durante";
    Layout = "~/Views/Shared/SecretariaLayout.cshtml";
}

<div class="container blue">
    <h4><span class="glyphicon glyphicon-hand-right"></span> Durante</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="float-left">Sesión @Model.sesionSeleccionada.Numero</h1>
        </div>
        <div class="col-sm-6">
            <h1 class="float-right">Quórum: @Model.GetUberController().getQuorum().ToString() personas</h1>
        </div>
    </div>




    <div class="row">
        <!--Tabla de presentes-ausentes-->
        <div class="col-sm-2 div-border-right">
            <center>
                <label>Personas presentes</label>
                @if (!Model.GetUberController().usuariosPresentes().Any())
                {
                    <h3>No se encuentran usuarios presentes</h3>
                }
                else
                {
                    <table class="table list-size">
                        <thead>
                            <tr class="th-header">
                                <th class="float-left">Nombre</th>
                                <th class="float-right">Cambiar Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.GetUberController().usuariosPresentes())
                            {
                                <tr>
                                    <td class="float-left">@m.Nombre</td>
                                    <td><a href="@Url.Action("CambiarEstado", "Secretaria", new { correo = m.Correo[0], estado = false, sess = Model.sesionSeleccionada.Numero})">Ausente</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @if (!Model.GetUberController().usuariosAusentes().Any())
                {
                    <h3>No se encuentran usuarios ausentes</h3>
                }
                else
                {
                    <table class="table list-size">
                        <thead>
                            <tr class="th-header">
                                <th class="float-left">Nombre</th>
                                <th class="float-right">Cambiar Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var m in Model.GetUberController().usuariosAusentes())
                            {
                                <tr>
                                    <td class="float-left">@m.Nombre</td>
                                    <td><a href="@Url.Action("CambiarEstado", "Secretaria", new { correo = m.Correo[0], estado = true, sess = Model.sesionSeleccionada.Numero})">Presente</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                


            </center>
        </div>

        <!--Tabla de puntos-->
        <div class="col-sm-5">
            <label>Puntos de agenda</label>
            <table class="table large-size-input">
                <thead>
                    <tr class="th-header">
                        <th class="float-left">Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.sesionSeleccionada.Agenda.Count; i++)
                    {
                        if (i != 0)
                        {
                            <tr>
                                <td>@Model.sesionSeleccionada.Agenda.ElementAt(i).Nombre</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="info">
                                <td>@Model.sesionSeleccionada.Agenda.ElementAt(i).Nombre</td>
                            </tr>
                        }                      
                    }
                </tbody>
            </table>
        </div>

        <!-- Punto -->
        <div class="col-sm-5 div-border-left">
            <!-- Registrar votacion -->
            <div>
                <label><h3>Registrar votación</h3></label>
                <button type="button" class="btn btn-primary blue-bg" data-toggle="collapse" data-target="#votaciones"><span class="glyphicon glyphicon-menu-down"></span></button>
                <div id="votaciones" class="collapse">
                    <form class="small-size-input" id="notificar" action="/Secretaria/Votacion" method="post">

                        <div class="form-group row margin-form-left">
                            <label for="example-number-input" class="">A favor</label>
                            <div class="">
                                <input class="form-control" type="number" value="0" name="favor">
                            </div>
                        </div>

                        <div class="form-group row margin-form-left">
                            <label for="example-number-input" class="">En contra</label>
                            <div class="">
                                <input class="form-control" type="number" value="0" name="contra">
                            </div>
                        </div>

                        <div class="form-group row margin-form-left">
                            <label for="example-number-input" class="">Abstenciones</label>
                            <div class="">
                                <input class="form-control" type="number" value="0" name="abstenciones">
                            </div>
                        </div>

                        <input type="hidden" value=@Model.sesionSeleccionada.Agenda.ElementAt(0).Id_punto name="puntoID"/>

                        <input type="hidden" value="@Model.sesionSeleccionada.Numero" name="sess"/>

                        <div class="form-group row margin-form-left">
                            <button type="submit" class="btn btn-primary float-left blue-bg">Guardar</button>
                        </div>
                    </form>
                </div> <!-- colapse de votacion -->
            </div>

            <!-- Comentarios -->
            <div>
                <label><h3>Registrar comentario</h3></label>
                <button type="button" class="btn btn-primary blue-bg" data-toggle="collapse" data-target="#comentarios"><span class="glyphicon glyphicon-menu-down"></span></button>
                <div id="comentarios" class="collapse">
                    <form class="small-size-input" id="comentario" action="/Secretaria/Comentario" method="post">
                        <div class="form-group row margin-form-left">
                            <label for="example-number-input" class="">Miembros</label>
                            <div class="">
                                <input class="form-control" list="miembros" name="correo">
                                <datalist id="miembros">
                                    @foreach (var m in Model.GetUberController().usuariosPresentes())
                                    {
                                        <option value="@m.Correo[0]">@m.Nombre</option>
                                    }
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group row margin-form-left">
                            <label for="example-text-area" class="">Comentario</label>
                            <div class="">
                                <!-- <input class="form-control" type="textarea" value="" id="example-text-area" placeholder="Digite el encabezado"> -->
                                <textarea name="comentario" rows="5" cols="50" form="comentario" placeholder="Comentario..."></textarea>
                            </div>
                        </div>

                        <input type="hidden" value=@Model.sesionSeleccionada.Agenda.ElementAt(0).Id_punto name="puntoID"/>
                        <input type="hidden" value="@Model.sesionSeleccionada.Numero" name="sess" />

                        <div class="form-group row margin-form-left">
                            <button type="submit" class="btn btn-primary float-left blue-bg">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <h2>Punto actual: @Model.sesionSeleccionada.Agenda.ElementAt(0).Nombre</h2>
            <h3>Votos a favor: @Model.sesionSeleccionada.Agenda.ElementAt(0).Votacion[0]</h3>
            <h3>Votos en contra: @Model.sesionSeleccionada.Agenda.ElementAt(0).Votacion[1]</h3>
            <h3>Abstenciones: @Model.sesionSeleccionada.Agenda.ElementAt(0).Votacion[2]</h3>

            <div>
                <h3>Comentarios</h3>
                <table class="table large-size-input">
                    <thead>
                        <tr class="th-header">
                            <th class="float-left">Miembro</th>
                            <th class="float-center">Comentario</th>
                            <!-- <th class="float-right">Gestionar</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                            @foreach (var c in @Model.sesionSeleccionada.Agenda.ElementAt(0).Comentarios)
                            {
                                <tr>
                                    <td class="float-left">@c.Miembro.Nombre</td>
                                    <td class="float-center"><p>@c.Txtcomentario</p></td>                                    
                                </tr>
                            }
                    </tbody>
                </table>
            </div>

            

        </div> <!-- columna -->
    </div> <!-- row -->
</div> <!-- container -->